<!DOCTYPE html>
<html>
<head><title>Auth Callback</title></head>
<body>
<script>
  const hash = window.location.hash.substring(1);
  const params = new URLSearchParams(hash);

  const access_token = params.get("access_token");

  const urlParams = new URLSearchParams(window.location.search);
  const next = urlParams.get("next") || "/";

  if (access_token) {
    document.cookie = "access_token=" + access_token + "; path=/";
    window.location.href = next;
  } else {
    document.body.innerHTML = "Auth failed";
  }
</script>
</body>
</html>