<div class="tc-card">
    <div class="tc-cover-wrap">
        <!-- IMAGE -->
        <img 
          src="{{ task.image_url or '/static/images/placeholder.svg' }}" 
          class="tc-cover"
        >
    </div>
    <div class="tc-body">
        <!-- CONTENT -->
        <div class="tc-main-info">
            <a href="/tasks/{{ task.id }}/edit" class="tc-title">
                {{ task.title }}
            </a>
            
            <p class="tc-desc">
                {{ task.description | safe }}
            </p>
        </div>

        <!-- ACTIONS -->
        <div class="tc-actions">
          <!-- Add to quest -->
          <form method="post" action="/quest-structure/">
            <input type="hidden" name="quest_id" value="{{ quest_id }}">
            <input type="hidden" name="task_id" value="{{ task.id }}">
            <button class="tc-add" title="Add to Quest">
              +
            </button>
          </form>
        </div>
    </div>
  </div>
  
