<div class="qe-row qe-empty-row">

    <div class="qe-col">
        <div class="qe-dot discover">
            <i class="bi bi-plus-lg"></i>
        </div>
    </div>

    <div class="tc-card tc-card-empty">
        <div class="tc-cover-wrap">
            <img
                src="/static/images/placeholder.svg"
                class="tc-cover"
            >
        </div>
        <div class="tc-content tc-empty-body">
            <h5 class="tc-title">Build your quest</h5>
            <div class="tc-desc">
                    Add the first task to start creating your scenario.
            </div>
            {% include "quests/_add_task_actions.html" %}
        </div>
    </div>

</div>