{% extends "core/base.html" %}
{% block content %}
<h2>Tasks</h2>
<div class="tc-grid">


        {% for task in items %}
    
            {% include "tasks/_list_card.html" %}
    
        {% endfor %}
    
            <div class="card">
                <div class="card-body text-center">
                    <h3>+</h3>
                    <p class="text-muted">
                        Create new task
                    </p>
                    <a href="/tasks/add" class="btn btn-primary">
                        Add task
                    </a>
                </div>
            </div>
    


</div>
{% endblock %}
