<div class="card">
    <div class="img-responsive img-responsive-21x9 card-img-top"
        style="background-image: url({{ quest.image_url }})">
    </div>
    <div class="card-body text-center">
        <h3>{{ quest.title }}</h3>
        <p class="text-muted">
            {{ quest.description }}
        </p>
        
        
        {% if quest.is_author %}
            <a href="/quests/{{ quest.id }}/edit" class="btn btn-warning">Edit</a>
        {% else %}
            {% if request.state.user %}
                {% if quest.application_status == None %}
                    <form method="post" action="/quest-applications">
                        {% include "quests/_apply.html" %}
                    </form>
                {% endif %}
            {% endif %}
            <a href="/quests/{{ quest.id }}" class="btn btn-primary">View</a>
        {% endif %}
        
        
    </div>
</div>