<div class="qs-card">
    <div class="qs-body">
        <h2 class="qs-title">
            Create a Quest
        </h2>

        <p class="qs-desc">
            Build your own adventure for other teams
        </p>
        
        <div class="qs-cta">
            <form method="post" action="/quests">
                <input type="hidden" name="title" value="draft">
                <button type="submit" class="btn btn-forward btn-primary">
                    Create quest
                </button>
            </form>
        </div>
        
        
    </div>
</div>
