{% if quest.is_author %}
    <a href="/quests/{{ quest.id }}/edit"
       class="btn btn-modify btn-primary">
        Edit
    </a>
{% else %}
    {% if not request.state.user %}

        <a href="/auth/login"
           class="btn btn-auth btn-quiet">
            Login to participate
        </a>

    {% elif quest.state.state == "resume" %}

        <a href="/quest-runs/{{ quest.state.run_id }}"
           class="btn btn-forward btn-primary">
            Resume
        </a>

    {% elif quest.state.state == "start" %}

        <a href="/quests/{{ quest.id }}"
           class="btn btn-forward btn-primary">
            Open
        </a>

    {% elif quest.state.state == "start_again" %}

        <a href="/quests/{{ quest.id }}"
           class="btn btn-forward btn-primary">
            Start Again
        </a>

    {% elif quest.state.state == "apply" %}

        <form method="post"
              action="/quest-applications"
              class="d-inline">

            <input type="hidden" name="quest_id" value="{{ quest.id }}">
            <input type="hidden" name="participant_id" value="{{ request.state.user.id }}">
            <input type="hidden" name="participant_type" value="individual">
            <input type="hidden" name="next" value="/quests/{{ quest.id }}">

            <button type="submit" class="btn btn-forward btn-primary">
                Apply
            </button>

        </form>

    {% elif quest.state.state == "pending_approval" %}

        <button class="btn btn-explore btn-secondary" disabled>
            Awaiting approval
        </button>

    {% elif quest.state.state == "apply_again" %}

        <form method="post"
              action="/quest-applications"
              class="d-inline">

            <input type="hidden" name="quest_id" value="{{ quest.id }}">
            <input type="hidden" name="participant_id" value="{{ request.state.user.id }}">
            <input type="hidden" name="participant_type" value="individual">
            <input type="hidden" name="next" value="/quests/{{ quest.id }}">

            <button type="submit" class="btn btn-explore btn-primary">
                Apply Again
            </button>

        </form>

    {% endif %}

{% endif %}