{% set current = get_choice(choices, value) %}

{% if not current %}
    {% set current = get_choice(choices, default_value) %}
{% endif %}

<div class="qe-property" tabindex="0">
    <button
        type="button"
        class="qe-property-current"
    >
        {% if current %}
            <img
                class="qe-property-icon"
                src="/static/images/properties/{{ current.icon }}.svg"
                alt="{{ current.label }}"
                title="{{ current.label }}"
            >
        {% else %}
            -
        {% endif %}
    </button>

    <input
        type="hidden"
        name="{{ name }}"
        value="{{ value or '' }}"
    >

    <div class="qe-property-popup">
        {% for option in choices %}
            <button
                type="button"
                class="qe-property-option"
                data-value="{{ option.id }}"
                data-label="{{ option.label }}"
            >
                <img
                    class="qe-property-icon"
                    src="/static/images/properties/{{ option.icon }}.svg"
                    alt="{{ option.label }}"
                    title="{{ option.label }}"
                >
            </button>
        {% endfor %}
    </div>
</div>