
{% extends "core/base.html" %}
{% block content %}
<h2>Quests</h2>
<div class="container">
    <div class="row">

        {% for quest in items %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            {% include "quests/_card.html" %}
        </div>
        {% endfor %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <form method="post" action="/quests">
                        <input type="hidden" name="title" value="draft">
                        <button type="submit">
                            Создать квест
                        </button>
                    </form>
                </div>                
            </div>
        </div>

    </div>
</div>
{% endblock %}
